.html{
    scroll-behavior: smooth;
}
.navbar{
    box-shadow: 60px;
    text-align: center;
    align-items: center;
}
.container-fluid{
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 2px;
}
h1{
    color: rgb(61, 42, 42);
    align-items: center;
    text-align: center;
    font-family: 'passion one';
    font-size: 50px;
}
.card{
    cursor: pointer;
    position: relative;
    z-index: 0;
    transition: all 0.5s;
}
.card:hover{
    z-index: 1;
    box-shadow: 0 5px 15px rgb(77, 37, 37);
    transform: scale(1);
}

footer{
    color: rgb(98, 83, 83);
    align-items: center;
    text-align: center;
    margin-top: 25px;
}
.whole-card{
    margin: 50px 150px;
}
