/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../pictures/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'montserrat';
}
.head{
    align-items: center;
    text-align: center;
    font-family: 'passion one';
    margin-top: 10px;
    font-size: 50px;
    font-weight: 600;
    color: rgb(96, 0, 0);
    letter-spacing: 2px;
}
.container2 {
    position: relative;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin: 0 50px;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    max-width: 540px;
    font-family: 'montserrat';
}
.header{
    font-size: 25px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
  
}
.input-field input:is(:focus, :valid){
    border-bottom-color: rgb(141, 0, 0);
}
.container form {
  margin-top: 30px;
}
form .field {
  margin-bottom: 20px;
}
form .input-field {
  position: relative;
  height: 55px;
  width: 100%;
}
.input-field input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 0 15px;
  border: 1px solid #d1d1d1;
}
.invalid input {
  border-color: #d93025;
}
.input-field .show-hide {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #919191;
  cursor: pointer;
  padding: 3px;
}
.field .error {
  display: flex;
  align-items: center;
  margin-top: 6px;
  color: #d93025;
  font-size: 13px;
  display: none;
}
.invalid .error {
  display: flex;
}
.error .error-icon {
  margin-right: 6px;
  font-size: 15px;
}
.create-password .error {
  align-items: flex-start;
}
.create-password .error-icon {
  margin-top: 4px;
}
.button {
  margin: 25px 0 6px;
}
.button input {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  background-color: maroon;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input:hover {
  background-color: rgb(158, 2, 2);
}
.text2{
    color: #333;
    text-decoration: none;
}

.text{
    color: rgb(141, 0, 0);
    text-decoration: none;
}
.text:hover{
    text-decoration: underline;
}
.login-signup{
    margin-top: 30px;
    text-align: center;
}
.back{
    color: maroon;
    border: none;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
    text-decoration: none;
}